<footer class="page-footer font-small bg-secondary">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-black">Siga-nos nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://github.com/Energym-Gen/Energym-front" target="_blank" class="icoFacebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/Energym-Gen/Energym-front" target="_blank" class="icoInstagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/Energym-Gen/Energym-front" target="_blank" class="icoLinkedin">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </div>
    <div class="footer-copyright bg-light text-center py-3">
        <span class="text-black">2020 Copyright: </span>
        <a href="https://github.com/Energym-Gen/Energym-front" class="text-black" target="_blank">Energym</a>
    </div>
</footer>
